# Supabase Configuration

# Connect to Supabase via connection pooling

# Direct connection to the database. Used for migrations
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret
